.fondo{
  display:  none;
  width: 100%;
  min-Height:100vh;
  background:rgb(210, 210, 210,0.8);
  position: absolute;
  left:0;
  top:0;
  z-index: 1000;
}

.modal{
  z-index: 1011;
  width: 20rem;
}